<div class='container'>
  <div class="article-container">
    <h3 class='article-title'><%= @article.title %></h3>
    <p class='author'>Par <%= @article.user.nick_name %> le <%= @article.created_at.strftime("%d-%m-%Y") %></p>

    <% if @article.photo.file != nil %>
      <%= cl_image_tag @article.photo, height: 400, width: 1100, crop: :fill %>
    <% end %>
    <div class='article-content'>
      <p><%= @article.content %></p>
    </div>
    <% if !@article.source.empty? %>
    <div class='article-source'>
      <p><strong> Source:</strong> <em><%= @article.source %></em></p>
    </div>
    <% end %>
    <div class="social-footer">
      <div id='likes-partial'>
        <%= render 'articles/likes', article: @article  %>
      </div>
      <div class='comments-btn'>
        <span><i class='fas fa-comment-alt comments-btn-icon' ></i></span>
        <span class='comments-btn-icon'><%= @article.comments.size %></span>
      </div>
    </div>


    <h3>Comments:</h3>
    <div id="comments">
      <% if @comments.blank? %>
        <%= "Soyez le premier à réagir à cet article " %>
      <% else %>
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= render 'comments/new_comment', article: @article, comment: @comment %>
    </div>
  </div>
  <div>
  <%= link_to "Page d'accueil", articles_path, class: 'btn btn-primary' %>
  </div>
</div>
