<div class='container'>
  <div class="article-container">
    <h3 class='article-title'><%= @article.title %></h3>
    <p class='author'>Par <%= @article.user.nick_name %> le <%= @article.created_at.strftime("%d-%m-%Y") %></p>

    <% if @article.photo.file != nil %>
      <%= cl_image_tag @article.photo, class: "cloudinary-image", crop: :fill %>
    <% end %>
    <div class='article-content'>
      <p><%= @article.content %></p>
    </div>
    <% if !@article.source.nil? %>
    <div class='article-source'>
      <p><strong> Source:</strong> <em><%= @article.source %></em></p>
    </div>
    <% end %>
    <div class="social-footer">
      <div id='likes-partial'>
        <%= render 'articles/likes', article: @article  %>
      </div>
        <button class="comments-btn collapsed" type="button" data-toggle="collapse" data-target="#comments-collapse" aria-expanded="false" aria-controls="comments-collapse">
          <span><i class='fas fa-comment-alt comments-btn-icon' ></i></span>
          <span id= 'comments-count' class='comments-btn-icon'><%= @article.comments.size %></span>
        </button>

    </div>
    <div id="comments-collapse" class='collapse'>
      <%= render 'comments/comments', comments: @comments %>
    </div>
  </div>
  <div>
  <%= link_to "Page d'accueil", articles_path, class: 'btn btn-primary' %>
  </div>
</div>
